.App {  
  height: 100vh;    
  background-color: #000000;

  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  
}

.tattoo {
  border-radius: 45% 55% 50% 50% / 50% 54% 46% 50% ;
}

.caick:hover .tattoo {
  background-color: red;
}
