.App {  
  height: 100vh;    
  background-color: #000000;

  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png");
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  

}
